::ng-deep .mat-dialog-container{
    padding: 0;
    border-radius: 4px;
    background-color: none;
    box-shadow: none;
   
    
}
::ng-deep .mat-form-field{
    width: 90%;
}



.form-container{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.titleDialog{
    background-color: #8A7F8E;
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid black;
}
.inputDialog{
    width: 220px;
    padding: 4px 20px 4px 20px;
    margin: 16px 23px 0px 23px;
    border-radius: 5px;
    border: 1px solid grey;
}

.buttons{
    margin: 0px 23px;
    display: flex;
    justify-content: space-between;
}
.butt{
    width: auto;
    margin-top: 20px;
    margin-bottom: 14px;
    width: 90px;
    background-color: #D6C1C1;
    color: black;border: none;
    padding: 4px 6px;border-radius: 8px;
    border: 1px solid grey;
}