<div class="pop_up_create">
    <div class="myFormCreate" >
        <form class="form-container" [formGroup]="personForm">
            <div class="titleDialog">{{titleDialog}}</div>
            <input type="text" formControlName="firstName" placeholder="Введите имя сотрудника: "  class="inputDialog">
            <input type="text" formControlName="lastName" placeholder="Введите фамилию сотрудника: " class="inputDialog">
            <div class="buttons">
                <button mat-dialog-close type="button" class="butt">Отмена</button>
                <button type="submit" (click)="addPerson()" class="butt">{{submitBtn}}</button>
            </div>
        </form>
    </div>
</div>