::ng-deep body {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1792px;
    padding: 30px 64px 5px 64px;
}
.addPerson{
    background-color: #2374A4;
    color: white;
    border: none;
    padding: 6px 8px;
    border-radius: 8px;
    margin-top: 18px;
}
.allbtn{
    display:flex;
    margin: 10px 0 10px 0;
}

.btnEdit{
    color: black;
    padding: 4px 10px;
    background-color: rgba(240, 243, 226, 0.836);
    border: 1px solid #c0c5a9ce;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
}
.btnDelete{
    color: black;
    padding: 4px 10px;
    background-color: #dac0c0;
    border: 1px solid #df9292;
    border-radius: 0px 5px 5px 0px;
}


.myFormCreate {
    display: none;
    bottom: 0;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -167px;
    opacity: 0.7;
    width: 100%;
    width: auto;height:auto
}

.form-container{
    border: none;
    background: white;
    border: 2px solid grey;
    width: 300px;
    padding: 0px 15px;
    height: 150px;
    border-radius: 5px;
}

.form-container span{
    background-color: #8A7F8E;
    padding-left: 45px;
    /* padding: 5px 15px; */
    width: 100%;
}
.form-container input{
    width: 270px;
    padding: 4px 15px 4px 15px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    border-color: black;
}




tr.mat-header-row{
    background-color: #D6C1C1;
}
table {
    width: 100%;
  }
  
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    width:11%
}