<div class="formDelete">
    <div class="titleDialog">Удаление сотрудника</div>
    <div class="titleDelete">Вы действительно хотите
         удалить сотрудника {{editData.firstName}}   {{editData.lastName}}?</div>    
    <div class="allBTN">
        <button class="butt" mat-dialog-close>Отмена</button>
        <button class="butt" (click)="deletePerson()" type="submit">Удалить</button>
    </div>
</div>