::ng-deep .mat-dialog-container{
    padding: 0;
    border-radius: 4px;
    background-color: none;
    box-shadow: none;
   
    
}

.butt{
    width: auto;
    margin-top: 20px;
    margin-bottom: 14px;
    width: 80px;
    background-color: #D6C1C1;
    color: black;border: none;
    padding: 3px 1px;border-radius: 8px;
    border: 1px solid grey;

}
.titleDialog{
    background-color: #8A7F8E;
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid black;
}
.allBTN{
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    max-width: 280px;
}

.titleDelete{
    max-width: 280px;
    font-size: 16px;
    margin: 16px 10px 0px 10px;
}